# Git
.git
.gitignore

# Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints

# IDE
.vscode
.idea

# Docker
Dockerfile
.dockerignore

# Logs
*.log
